


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@700&family=Open+Sans:wdth,wght@75,700&display=swap');

/*mobile-smartphone*/

@media(min-width: 0px){


*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    /*LETRA COMO PRIMERA VEZ*/
}





#pag1 {
    display: grid;
    grid-template-areas:
      "pag11"
      "pag12"
      "pag13"
      "pag14";
 }
 
 #pag11{
     grid-area: pag11;

 }
 #pag12{
    grid-area: pag12;
}
#pag13{
    grid-area: pag13;
}
#pag14{
    grid-area: pag14;
}






#pag2 {
    display: grid;
    grid-template-areas:
      "pag21"
      "pag22"
      "pag23"
      "pag24"
      "pag25"
      "pag26";
 }
 
 #pag21{
     grid-area: pag21;
 }
 #pag22{
    grid-area: pag22;
}
#pag23{
    grid-area: pag23;
}
#pag24{
    grid-area: pag24;
}
#pag25{
    grid-area: pag25;
}
#pag26{
    grid-area: pag26;
}






#pag3 {
    display: grid;
    grid-template-areas:
      "pag31"
      "pag32"
      "pag33"
      "pag34"
      "pag35";
 }
 
 #pag31{
     grid-area: pag31;
 }
 #pag32{
    grid-area: pag32;
}
#pag33{
    grid-area: pag33;
}
#pag34{
    grid-area: pag34;
}
#pag35{
    grid-area: pag35;
}






#pag4 {
    display: grid;
    grid-template-areas:
      "pag41"
      "pag42"
      "pag43"
      "pag44"
      "pag45";
 }
 
 #pag41{
     grid-area: pag41;
 }
 #pag42{
    grid-area: pag42;
}
#pag43{
    grid-area: pag43;
}
#pag44{
    grid-area: pag44;
}
#pag45{
    grid-area: pag45;
}





#pag5 {
    display: grid;
    grid-template-areas:
      "pag51"
      "pag52"
      "pag53"
      "pag54";
 }
 
 #pag51{
     grid-area: pag51;
 }
 #pag52{
    grid-area: pag52;
}
#pag53{
    grid-area: pag53;
}
#pag54{
    grid-area: pag54;
}












.grillaMenu {
    display: grid;
    grid-template-areas:
      "grillaMenu1 grillaMenu2";
    height: 124px;
    grid-template-rows: 1fr; 
    grid-template-columns: 3fr 7fr;
 }


.grillaMenu1 {
    background-color: rgb(0, 0, 0);
    grid-area: grillaMenu1;
 }

.grillaMenu2 {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    grid-area: grillaMenu2;
 }







 .imagenLogoGrids{
    width: 100px;
    min-width: none;
    height: 100px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 8px;
    left: 20px;
}

.nombreLogoGrids{
    padding: 0px 0px 0px 120px;
    font-family: 'Dancing Script', cursive;
    font-size: 145%;
    color: rgb(214, 214, 209);
    position: relative;
    top: 40px;
    left: 20px;
    right: 0px;
}
 


 .letrasMenu{
    color: rgb(76, 150, 150);
    font-family: 'Open Sans', sans-serif;
    font-size: 180%;
    position: relative;
    top: 20px;
    left: 20px;
    right: 0px;
    padding: 0px 0px 0px 0px ;
 }









 
 footer{
    background-color: black;
    column-count: 3;
    padding: 20px 0px 0px 0px;
}


 .grillaFooter{
    background-color: black;
    display: grid;
    grid-template-areas:
      "grillaFooter1 grillaFooter2"
      "grillaFooter3 grillaFooter3";
    height: 600px;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr;
}

 .grillaFooter1{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-area: grillaFooter1;

}

.grillaFooter2{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-area: grillaFooter2;
}

.grillaFooter3{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-area: grillaFooter3;

}






.sectionServicios{
    padding: 20px 0px 20px 0px;
    background-color: rgb(100, 105, 105);
    /*SI TIENE, ES EL TITULO*/
    text-align: center;
}


.grillaServicios1{
    background-color: rgb(76, 150, 150);
    display: grid;
    text-align: center;
    grid-template-areas:
      "grillaServicios11" 
      "grillaServicios12" 
      "grillaServicios13";

    height: 800px;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.grillaServicios11{
    grid-area: grillaServicios11;
}

.grillaServicios12{
    grid-area: grillaServicios12;
}

.grillaServicios13{
    grid-area: grillaServicios13;
}





   
.grillaServicios234{
    background-color: rgb(100, 105, 105);
    display: grid;
    grid-template-areas:
      "grillaServicios21"
      "grillaServicios22"
      "grillaServicios31" 
      "grillaServicios32"
      "grillaServicios41" 
      "grillaServicios42";

    height: 1400px;
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-columns: 1fr 1fr;

    justify-content: center;
    align-items: center; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;   
    
}



.grillaServicios21{
    grid-area: grillaServicios21;
}
.grillaServicios22{
    grid-area: grillaServicios22;

}
.grillaServicios31{
    grid-area: grillaServicios31;

}
.grillaServicios32{

    grid-area: grillaServicios32;
}
.grillaServicios41{
    grid-area: grillaServicios41;

}
.grillaServicios42{
    grid-area: grillaServicios42;

}
 









.grillaContacto{
    background-color: rgb(100, 105, 105);
    display: grid;
    grid-template-areas:
      "grillaContacto1 grillaContacto2";

    height: 270px;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;

    justify-content: center;
    align-items: center;
}


.grillaContacto1{
    grid-area: grillaContacto1;
}

.grillaContacto2{
    grid-area: grillaContacto2;
}









.grillaHistoria{
    background-color: rgb(100, 105, 105);
    display: grid;
    grid-template-areas:
      "grillaHistoria1"
      "grillaHistoria2";

    height: 550px;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}


.grillaHistoria1{
    text-align: center;
    align-items: center;
    grid-area: grillaHistoria1;


}

.grillaHistoria2{
    grid-area: grillaHistoria2;
    text-align: center;

}






.grillaExperiencias{
    background-color: rgb(100, 105, 105);
    display: grid;
    grid-template-areas:
      "grillaExperiencias1"
      "grillaExperiencias2";

    height: 450px;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 1fr;
    padding: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
}


.grillaExperiencias1{
    text-align: center;
    align-items: center;
    grid-area: grillaExperiencias1;
}

.grillaExperiencias2{
    grid-area: grillaExperiencias2;
    text-align: center;

}






.grillaParteFinal{
    display: grid;
    grid-template-areas:
      "grillaParteFinal1";
    height: 40px;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr;
    

}


.grillaParteFinal1{
    background-color: rgb(76, 150, 150);
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    column-count: 1;
}









main{
    background-color: rgb(100, 105, 105);
    /*ESTO AUN EXISTE EN EL INICIO*/
    padding: 0px 0px 20px 0px;
}



.grillaIndex{
    background-image: url('../img/planchado-y-pintura4.jpg');
    grid-area: grillaIndex;
}



h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 360%;
    color: aliceblue;
    padding: 20px 20px 10px 20px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 240%;
    color: aliceblue;
    padding: 10px 20px 5px 20px;
}


h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 200%;
    color: rgb(76, 150, 150);
    padding: 10px 20px 10px 20px;
}

p{
    font-family: 'Lato', sans-serif;
    font-size: 150%;
    color: aliceblue;
    padding: 5px 20px 5px 20px;
}



.linkLlamar{
    position: relative;
    left: 20px;
    top: 0px;
    text-decoration: none;
    color: aliceblue;
    font-size: 150%;
    font-family: 'Lato', sans-serif
}



.botonAnimacion{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 150%;
    font-family: 'Lato', sans-serif;

    position: relative;
    top: 0px;
    left: 20px;

    width: 60px;
    height: 30px;
}

.botonAnimacion:hover{
    transform: scale(120.5%);
}









.linkFooter{
    position: relative;
    left: 20px;
    top: 0px;
    text-decoration: none;
    color: aliceblue;
    font-size: 150%;
    font-family: 'Lato', sans-serif

    

}






a{
    position: relative;
    left: 350px;
    bottom: 40px;
    text-decoration: none;
    color: rgb(76, 150, 150);
}

ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 0px 30px 0px 30px
}


img{
    margin: 20px 20px 20px 20px;
    border: 5px solid black;
}

.imgIndex{
    width: 350px;
    min-width: none;
    height: 300px;
}

.imagenServicios1{
    width: 450px;
    min-width: none;
}


.imagenServicios2{
    width: 450px;
    min-width: none;
}


.imagenHistoria{
    width: 400px;
    min-width: none;
    margin: 15px 20px 10px 20px;
}

.imagenExperiencias{
    width: 300px;
    min-width: none;
}


form{
    padding: 20px 20px 0px 20px;
    font-size: 150%;
}

.formContacto{
    color: aliceblue;
    font-family: 'Lato', sans-serif;
}
.googleMaps{
    background-color: rgb(49, 65, 65);
    color: black;
    padding: 20px 20px 20px 20px;
}
.letraGoogleMaps{
    padding: 0px 0px 0px 0px;

}
}

.tamañoMapa{
    width: 600px;
}

/*mobile-tablet/




















/*desktop*/

@media(min-width:1024px) {

    
    html{
        font-size: 62.5%;
    }
    
    
    
    .grillaMenu {
        display: grid;
        grid-template-areas:
          "grillaMenu1 grillaMenu2";
        height: 124px;
        grid-template-rows: 1fr; 
        grid-template-columns: 3fr 7fr;
     }
    



    
     .letrasMenu{
    color: rgb(76, 150, 150);
    font-family: 'Open Sans', sans-serif;
    font-size: 180%;
    position: relative;
    top: 45px;
    left: 70px;
    right: 0px;
    padding: 0px 0px 0px 0px ;
 }  





    
    .grillaFooter{
        background-color: black;
        display: grid;
        grid-template-areas:
          "grillaFooter1 grillaFooter2 grillaFooter3";
        height: 280px;
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr 1fr 1fr;
    }
    

    
    
    
    .sectionServicios{
        padding: 20px 0px 20px 0px;
        background-color: rgb(100, 105, 105);
        /*SI TIENE, ES EL TITULO*/
        text-align: center;
    }
    
    
    .grillaServicios1{
        background-color: rgb(76, 150, 150);
        display: grid;
        text-align: center;
        grid-template-areas:
          "grillaServicios11 grillaServicios12 grillaServicios13";
        height: 260px;
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr 1fr 1fr;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    
    
    .grillaServicios234{
        background-color: rgb(100, 105, 105);
        display: grid;
        grid-template-areas:
          "grillaServicios21 grillaServicios22"
          "grillaServicios31 grillaServicios32"
          "grillaServicios41 grillaServicios42";
    
        height: 1100px;
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-columns: 1fr 1fr;
    
        justify-content: center;
        align-items: center;   
        text-align: left; 
        
    }
    
    
    
 
    
    
    .grillaContacto{
        background-color: rgb(100, 105, 105);
        display: grid;
        grid-template-areas:
          "grillaContacto1 grillaContacto2";
    
        height: 270px;
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr 1fr;
    
        justify-content: center;
        align-items: center;
    }
    
    
    
    
    .grillaHistoria{
        background-color: rgb(100, 105, 105);
        display: grid;
        grid-template-areas:
          "grillaHistoria1 grillaHistoria2";
    
        height: 350px;
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr 1fr;
        padding: 20px 0px 20px 0px;
    }
    
    .grillaHistoria1{
        text-align: left;
    
    }
    
    .grillaHistoria2{
        text-align: left;
    } 

    
    .grillaExperiencias{
        background-color: rgb(100, 105, 105);
        display: grid;
        grid-template-areas:
          "grillaExperiencias1 grillaExperiencias2";
    
        height: 350px;
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr 1fr;
        padding: 20px 0px 20px 0px;
    }

    .grillaExperiencias1{
        text-align: left;
    
    }
    
    .grillaExperiencias2{
        text-align: left;
    } 


    

    .grillaParteFinal{
        display: grid;
        grid-template-areas:
          "grillaParteFinal1";
        height: 40px;
        grid-template-rows: 1fr; 
        grid-template-columns: 1fr;

    }
    
    
    
    
    
    
    main{
        background-color: rgb(100, 105, 105);
        /*ESTO AUN EXISTE EN EL INICIO*/
        padding: 0px 0px 20px 0px;
    }
    
    

    
    
    
    
    h1{
        font-family: 'Open Sans', sans-serif;
        font-size: 360%;
        color: aliceblue;
        padding: 20px 20px 10px 20px;
    }
    h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 240%;
        color: aliceblue;
        padding: 10px 20px 5px 20px;
    }
    
    
    h3{
        font-family: 'Open Sans', sans-serif;
        font-size: 200%;
        color: rgb(76, 150, 150);
        padding: 10px 20px 10px 20px;
    }
    
    p{
        font-family: 'Lato', sans-serif;
        font-size: 150%;
        color: aliceblue;
        padding: 5px 20px 5px 20px;
    }
    
    
    
    
    
    .linkLlamar{
        position: relative;
        left: 20px;
        top: 0px;
        text-decoration: none;
        color: aliceblue;
        font-size: 150%;
        font-family: 'Lato', sans-serif
    }
    
    .linkFooter{
        position: relative;
        left: 20px;
        top: 0px;
        text-decoration: none;
        color: aliceblue;
        font-size: 150%;
        font-family: 'Lato', sans-serif
    }
    
    
    
    
    a{
        position: relative;
        left: 350px;
        bottom: 40px;
        text-decoration: none;
        color: rgb(76, 150, 150);
    }
    
    ul{
        list-style: none;
    }
    
    nav ul li{
        display: inline-block;
        padding: 0px 30px 0px 30px
    }
    
    
    img{
        margin: 20px 20px 20px 20px;
        border: 5px solid black;
    }
    
    .imgIndex{
        width: 950px;
        min-width: none;
        height: 400px;
    }
    
    .imagenServicios1{
        width: 450px;
        min-width: none;
    }
    
    
    .imagenServicios2{
        width: 450px;
        min-width: none;
    }
    
    
    .imagenHistoria{
        width: 450px;
        min-width: none;
        margin: 15px 20px 10px 20px;
    }
    
    .imagenExperiencias{
        width: 450px;
        min-width: none;
    }
    
    
    form{
        padding: 20px 20px 0px 20px;
        font-size: 150%;
    }
    
    .formContacto{
        color: aliceblue;
        font-family: 'Lato', sans-serif;
    }
    .googleMaps{
        background-color: rgb(49, 65, 65);
        color: black;
        padding: 20px 20px 20px 20px;
    }
    .letraGoogleMaps{
        padding: 0px 0px 0px 0px;
    
    }
    .tamañoMapa{
        width: 900px;
    }
    

}



